.dataTables_filter {
 display: none;
}

label {
 display: none;
}

.dataTables_info {
 display: none;
}

.dataTables_wrapper .dataTables_paginate {
 display: none;
}

th {
  font-size: 1.65em;
  color: white;
  background-color: #de540f;
  font-family: 'Nanum Myeongjo', serif;
 }
 
td {
  font-family: 'Nanum Myeongjo', serif;
  color: #212529;
  text-align: center;
  font-size: 1.5em;
  background: white;
  background-color: white;
 }
 
 table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: white;
}