 /*-------------------------Scrolling Behaviour--------*/

 html {
  scroll-behavior: smooth;
 }

 /*-------------------------Image re-sizing for different screen sizes--------*/

 .mobileShow {
  display: none;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .mobileShow {
   display: inline;
  }
 }

 .mobileHide {
  display: inline;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .mobileHide {
   display: none;
  }
 }

 /*-------------------------Navigation Bar--------*/

 .navbar-nav {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.75em;
  line-height: 15px;
  text-align: center;
  margin-bottom: 75px;
  margin-top: 20px;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .navbar-nav {
   margin-bottom: 25px;
   margin-top: 5px;
  }
 }

 .navbar-light .navbar-nav .nav-link {
  color: black;
 }

 .nav-item {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 3px;
  padding-top: 3px;
 }

 .navbar-toggler {
  margin-bottom: 30px;
 }

 /*-------------------------League Table--------*/

 .dataTables_filter {
  display: none;
 }

 label {
  display: none;
 }

 .dataTables_info {
  display: none;
 }

 .dataTables_wrapper .dataTables_paginate {
  display: none;
 }

 th {
  font-size: 1.5em;
  color: white;
  background-color: #de540f;
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
 }

 td {
  font-family: 'Nanum Myeongjo', serif;
  color: #212529;
  text-align: center;
  font-size: 1.5em;
 }

 .table-wrapper {
  padding-top: 1px;
  padding-bottom: 20px;
  
 }

 table.dataTable.no-footer {
  border-bottom: 0px solid #111;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .table-wrapper {
   font-size: 0.70em;
  }
 }

 /*-------------------------Player Information--------*/

 .container {
  text-align: center;
 }

 /*-------------------------Contact Form--------*/

 .form-group {
  color: #212533;
  background-color: white;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2em;
 }

 .form-control {
  background-color: #e5e7ee;
  font-family: 'Nanum Myeongjo', serif;
 }

 form {
  background-color: white;
  padding-left: 500px;
  padding-right: 500px;
  padding-bottom: 40px;
  padding-top: 75px;
 }

 @media (max-width: 992px) {
  form {
   padding-left: 20px;
   padding-right: 20px;
  }
 }

 .btn-success {
  color: black;
  background-color: white;
  width: 150px;
  border-color: #907933;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.25em;
 }

 p {
  margin: 0;
 }

 .btn:hover {
  opacity: 1;
  background-color: #f7f1eb;
  color: black;
 }


 /*------------------------- Intro text --------*/

 .intro {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.55em;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  padding: 0;
  text-align: center;

 }

 /*------------------------- modal buttons --------*/

 .modalDialog {
  position: fixed;
  font-family: 'Nanum Myeongjo', serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  pointer-events: none;
 }

 .modalDialog:target {
  opacity: 1;
  pointer-events: auto;
 }

 .modalDialog>div {
  width: 60%;
  height: 480px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: white;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 600px) {
  .modalDialog>div {
   width: 90%;
   height: 90%;
  }
 }

 .close {
  font-family: 'Nanum Myeongjo', serif;
  background: #f9ab5d;
  color: white;
  line-height: 25px;
  position: absolute;
  right: -12px;
  top: -10px;
  width: 25px;
  border-radius: 12px;
 }

 .close:hover {
  background: #f69807;
 }

 /*-------------------------modal contents--------*/

 .modalHeading {
  font-size: 1.8em;
  color: #de540f;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;

 }

 .modalSubHeading {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1px;
 }

 .modalSubText {
  font-size: 1em;
  margin-bottom: 10px;
 }

 .trophy-heading {
  font-size: 1.8em;
  margin-top: 20px;
  color: #de540f;
  font-weight: bold;
 }

 .trophy-image {
  padding-top: 100px;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 600px) {
  .trophy-image {
   padding-top: 0px;
   height: auto;
   max-width: 100%;
   height: 100%;
  }
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 600px) {
  h3.trophy-heading {
   margin-top: 0px;
   font-size: 1.2em;
  }
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 600px) {
  h1.modalHeading {
   margin-top: 15px;
   margin-bottom: 5px;
   font-size: 1.2em;
  }
 }

 .tooltip {
  z-index: 1;
 }


 /*-------------------------player information hover effects--------*/

 .item img {

  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
 }

 .item:hover img {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
 }

 /*-------------------------Charts and graphs--------*/

 div.col {
  margin-top: 40px;
 }


 #fourth_chart_div {
  display: inline-block;
  margin: 0 auto;
 }

 #Third_chart_div {
  display: inline-block;
  margin: 0 auto;
 }

 #Second_chart_div {
  display: inline-block;
  margin: 0 auto;
 }

 #First_chart_div {
  display: inline-block;
  margin: 0 auto;
 }

 .chart {
  width: 100%;
  min-height: 300px;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .chart {
   width: 100%;
  }
 }

 /*-------------------------Map--------*/

 #map {
  height: 500px;
  width: 50%;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  #map {
   height: 500px;
   width: 90%;
  }
 }

 .map {
  margin-top: 30px;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .map-legends {
   width: 90%;
  }
 }

 /*-------------------------Footer--------*/

 .messi {
  width: 17%;
  margin-top: 20px;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .messi {
   width: 50%;
  }
 }

 .footer {
  margin-bottom: 50px;
 }


.anchor-link {
 padding-bottom: 50px;
}